body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

nav {
    background-color: #d7eef2;
}

.logo {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 5%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1111;
    font-weight: 100;
    font-size: x-large;
}

.nav-links {
    display: flex;
}

a {
    color: #111111;
    text-decoration: wavy;
    margin: 10px;
}

.google-drive {
    background-color: #111111;
    color: #fdfefe;
    padding: 10px;
}

.main-container {
    position: relative;
    text-align: center;
    height: 90%;

}

.main-page-photo {
    width: 100%;
    margin: 0;
    padding: 0;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 96px;
    font-weight: 100px;
}

.demo {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 8%;
    font-size: 48px;
    background-color: #d7eef2;
    cursor: pointer;
}