body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    overflow: hidden;
    background-color: #fdfefe;
}

nav {
    background-color: #d7eef2;
}

.logo {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 5%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1111;
    font-weight: 100;
    font-size: x-large;
}

.nav-links {
    display: flex;
}

a {
    color: #111111;
    text-decoration: wavy;
    margin: 10px;
}

.google-drive {
    background-color: #111111;
    color: #fdfefe;
    padding: 10px;
}

.context-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.context-heading {
    font-size: 56px;
}

p {
    font-size: 36px;
}

.columns-container {
    display: flex;
    justify-content: space-around;
    background-color: #d7eef2;
}

.challenges, .mission {
    font-size: 56px;
}

li {
    font-size: 26px;
}
/* .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #1F2960;
}

.heading {
    color: white;
    font-size: 48px;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    width: 15%;
}

a {
    color: #FFD700;
    text-decoration: wavy;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #e5e7eb;
    height: 80%;
    width: 90%;
    border-radius: 20px;
}

.heading-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.details-header {
    font-size: 48px;
    font-weight: bolder;
    align-self: center;
}

.heading-text {
    font-size: x-large;
    font-style: italic;
    justify-content: center;
    align-self: center;
    max-width: 50%;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 20px;
}

.inner-inner-container1, .inner-inner-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mission-header, .challenges-header {
    font-size: 40px;
    font-weight: bolder;
}

.challenges-text, .mission-text {
    font-size: large;
}
 */
